@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/* Add link below to HTML header tag

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap" rel="stylesheet">
*/

$primary-bg: #f0e3d8;
$primary-color: #094367;
$secondary-color1: #ef6f6c;
$accent-color: #0096eb;

$pri-font-color: #222;
$sec-font-color: #91989b;
$primary-font: "Inter", sans-serif;
$header-font-weight: 500;
